src/adms-extensions-saf-to-ifs-workordertask/WSDL/MaintenanceOrders/MaintenanceOrders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:a="http://langdale.com.au/2005/Message#"
 xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
 xmlns="http://langdale.com.au/2005/Message#"
 xmlns:m="http://iec.ch/TC57/2014/MaintenanceOrders#"
 targetNamespace="http://iec.ch/TC57/2014/MaintenanceOrders#"
 elementFormDefault="qualified"
 attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation/>
  </xs:annotation>
  <xs:complexType name="MaintenanceOrdersType">
    <xs:sequence>
	  <xs:element name ="MaintenanceOrders">
		<xs:complexType>
		  <xs:sequence>
			<xs:element name="Organisation" type="m:Organisation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Work" type="m:Work" minOccurs="0" maxOccurs="unbounded"/>
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MaintenanceOrdersRequestType">
    <xs:sequence>
      <xs:element name="MaintenanceOrders">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Work" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="IFS_RECORD_NUM" type="xs:integer"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
	    </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Asset" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Asset">
    <xs:annotation>
      <xs:documentation>Tangible resource of the utility, including power system equipment, various end devices, cabinets, buildings, etc. For electrical network equipment, the role of the asset is defined through PowerSystemResource and its subclasses, defined mainly in the Wires model (refer to IEC61970-301 and model package IEC61970::Wires). Asset description places emphasis on the physical characteristics of the equipment fulfilling that role.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
          <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastModifiedDateTime" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Document.lastModifiedDateTime">
        <xs:annotation>
          <xs:documentation>Date and time this work asset was last modified. - Scope: SP7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="critical" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Asset.critical">
        <xs:annotation>
          <xs:documentation>True if asset is considered critical for some reason (for example, a pole with critical attachments).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="utcNumber" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Asset.utcNumber">
        <xs:annotation>
          <xs:documentation>Uniquely tracked commodity (UTC) number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="m:Status" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2014/CIM-schema-cim17-dcim12#Document.status">
        <xs:annotation>
          <xs:documentation>Status of this asset. - Scope: SP7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Asset.utcNumber">
        <xs:annotation>
          <xs:documentation>Utility-specific classification of Asset and its subtypes, according to their corporate standards, practices, and existing IT systems (e.g., for management of assets, maintenance, work, outage, customers, etc.). - Scope: SP7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Location" type="m:WorkLocation" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Asset.Location">
        <xs:annotation>
          <xs:documentation>Location of this asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Names" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.Names">
        <xs:annotation>
          <xs:documentation>All names of this identified object.</xs:documentation>
        </xs:annotation>
        <xs:complexType sawsdl:modelReference="http://www.w3.org/2002/07/owl#Thing">
          <xs:sequence>
            <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name.name">
              <xs:annotation>
                <xs:documentation>Any free text that name the object.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Crew" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Crew">
    <xs:annotation>
      <xs:documentation>Group of people with specific skills, tools, and vehicles.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
          <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastModifiedDateTime" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Document.lastModifiedDateTime">
        <xs:annotation>
          <xs:documentation>Date and time this crew was last modified. - Scope: SP7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="m:Status" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2014/CIM-schema-cim17-dcim12#Document.status">
        <xs:annotation>
          <xs:documentation>Status of this crew. - Scope: SP7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CrewMembers" type="m:CrewMember" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Crew.CrewMembers">
        <xs:annotation>
          <xs:documentation>All members of this crew.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Names" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.Names">
        <xs:annotation>
          <xs:documentation>All names of this identified object.</xs:documentation>
        </xs:annotation>
        <xs:complexType sawsdl:modelReference="http://www.w3.org/2002/07/owl#Thing">
          <xs:sequence>
            <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name.name">
              <xs:annotation>
                <xs:documentation>Any free text that name the object.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="NameType" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name.NameType">
              <xs:annotation>
                <xs:documentation>Type of this name.</xs:documentation>
              </xs:annotation>
              <xs:complexType sawsdl:modelReference="http://www.w3.org/2002/07/owl#Thing">
                <xs:sequence>
                  <xs:element name="description" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameType.description">
                    <xs:annotation>
                      <xs:documentation>Description of the name type.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameType.name">
                    <xs:annotation>
                      <xs:documentation>Name of the name type.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="NameTypeAuthority" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameType.NameTypeAuthority">
                    <xs:annotation>
                      <xs:documentation>Authority responsible for managing names of this type.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType sawsdl:modelReference="http://www.w3.org/2002/07/owl#Thing">
                      <xs:sequence>
                        <xs:element name="description" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameTypeAuthority.description">
                          <xs:annotation>
                            <xs:documentation>Description of the name type authority.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameTypeAuthority.name">
                          <xs:annotation>
                            <xs:documentation>Name of the name type authority.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WorkAssets" type="m:WorkAsset" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Crew.WorkAssets">
        <xs:annotation>
          <xs:documentation>All work assets used by this crew.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrewMember" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#CrewMember">
    <xs:annotation>
      <xs:documentation>Member of a crew.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Person" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#PersonRole.Person">
        <xs:annotation>
          <xs:documentation>Person having this role.</xs:documentation>
        </xs:annotation>
        <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Person">
          <xs:sequence>
            <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
              <xs:annotation>
                <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
                <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="lastModifiedDateTime" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Document.lastModifiedDateTime">
              <xs:annotation>
                <xs:documentation>Date and time this person was last modified. - Scope: SP7</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="firstName" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Person.firstName">
              <xs:annotation>
                <xs:documentation>Person's first name.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="lastName" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Person.lastName">
              <xs:annotation>
                <xs:documentation>Person's last (family, sir) name.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="prefix" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Person.prefix">
              <xs:annotation>
                <xs:documentation>A prefix or title for the person's name, such as Miss, Mister, Doctor, etc. - Scope: SP7.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="employeeId" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Person's employee identification. - Scope: SP7.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="mobilePhone" type="m:TelephoneNumber" minOccurs="0" sawsdl:modelReference="ttp://iec.ch/TC57/CIM-generic#Person.TelephoneNumber">
              <xs:annotation>
                <xs:documentation>Person's mobile phone number. - Scope: SP7.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="electronicAddress" type="m:ElectronicAddress" minOccurs="0" sawsdl:modelReference="ttp://iec.ch/TC57/CIM-generic#Person.ElectronicAddress">
              <xs:annotation>
                <xs:documentation>Person's mail address. - Scope: SP7.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Name" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name">
    <xs:annotation>
      <xs:documentation>The Name class provides the means to define any number of human readable  names for an object. A name is &lt;b&gt;not&lt;/b&gt; to be used for defining inter-object relationships. For inter-object relationships instead use the object identification 'mRID'.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name.name">
        <xs:annotation>
          <xs:documentation>Any free text that name the object.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NameType" type="m:NameType" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name.NameType">
        <xs:annotation>
          <xs:documentation>Type of this name.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameType" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameType">
    <xs:annotation>
      <xs:documentation>Type of name. Possible values for attribute 'name' are implementation dependent but standard profiles may specify types. An enterprise may have multiple IT systems each having its own local name for the same object, e.g. a planning system may have different names from an EMS. An object may also have different names within the same IT system, e.g. localName as defined in CIM version 14. The definition from CIM14 is:</xs:documentation>
      <xs:documentation>The localName is a human readable name of the object. It is a free text name local to a node in a naming hierarchy similar to a file directory structure. A power system related naming hierarchy may be: Substation, VoltageLevel, Equipment etc. Children of the same parent in such a hierarchy have names that typically are unique among them.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameType.description">
        <xs:annotation>
          <xs:documentation>Description of the name type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameType.name">
        <xs:annotation>
          <xs:documentation>Name of the name type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NameTypeAuthority" type="m:NameTypeAuthority" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameType.NameTypeAuthority">
        <xs:annotation>
          <xs:documentation>Authority responsible for managing names of this type.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameTypeAuthority" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameTypeAuthority">
    <xs:annotation>
      <xs:documentation>Authority responsible for creation and management of names of a given type; typically an organization or an enterprise system.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameTypeAuthority.description">
        <xs:annotation>
          <xs:documentation>Description of the name type authority.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameTypeAuthority.name">
        <xs:annotation>
          <xs:documentation>Name of the name type authority.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Organisation" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Organisation">
    <xs:annotation>
      <xs:documentation>Organisation that might have roles as utility, contractor, supplier, manufacturer, customer, etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
          <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Status" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Status">
    <xs:annotation>
      <xs:documentation>Current status information relevant to an entity.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dateTime" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Status.dateTime">
        <xs:annotation>
          <xs:documentation>Date and time for which status 'value' applies.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Status.value">
        <xs:annotation>
          <xs:documentation>Status value at 'dateTime'; prior status changes may have been kept in instances of activity records associated with the object to which this status applies.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TelephoneNumber" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#TelephoneNumber">
    <xs:annotation>
      <xs:documentation>Telephone number.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="localNumber" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Main (local) part of this telephone number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElectronicAddress" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ElectronicAddress">
    <xs:annotation>
      <xs:documentation>Electronic address information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="email1" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Primary email address.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Equipment" sawsdl:modelReference="http://iec.ch/TC57/2014/CIM-schema-cim17-dcim12#Equipment">
    <xs:annotation>
      <xs:documentation>The parts of a power system that are physical devices, electronic or mechanical. - Scope: SP7</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2014/CIM-schema-cim17-dcim12#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
          <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Names" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.Names">
        <xs:annotation>
          <xs:documentation>All names of this equipment object. - Scope: SP7</xs:documentation>
        </xs:annotation>
        <xs:complexType sawsdl:modelReference="http://www.w3.org/2002/07/owl#Thing">
          <xs:sequence>
            <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name.name">
              <xs:annotation>
                <xs:documentation>Any free text that name the object.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="type" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Utility-specific classification of the equipment. - Scope: SP7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="B1TEXT" type="xs:string" minOccurs="0" >
      </xs:element>
      <xs:element name="B2TEXT" type="xs:string" minOccurs="0" >
      </xs:element>
      <xs:element name="B3TEXT" type="xs:string" minOccurs="0" >
      </xs:element>
      <xs:element name="ELTEXT" type="xs:string" minOccurs="0" >
      </xs:element>
      <xs:element name="Feedername" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Terminal on transformer station.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VoltageLevelNum" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Voltage level.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Work" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Work">
    <xs:annotation>
      <xs:documentation>Document used to request, initiate, track and record work.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
          <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RECORD_OID" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Internal identification ID for record in Spectrum. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Category" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#BaseWork.kind">
        <xs:annotation>
          <xs:documentation>From table OM_CATEGORY. Category of work. Possible values are: scadaout, ttaminout, planned, nonoutage.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TYPE" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Type of record. Found in OM_TYPE table in OM database. </xs:documentation>
      </xs:annotation>
    </xs:element>
      <xs:element name="WorkCategory" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#BaseWork.kind">
      <xs:annotation>
        <xs:documentation>Kind of work. Possible values are: maintenance, other, inspection, diagnosis, test, shutdownIsolation, dMS.</xs:documentation>
      </xs:annotation>
    </xs:element>
      <xs:element name="lastModifiedDateTime" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Document.lastModifiedDateTime">
        <xs:annotation>
          <xs:documentation>Date and time this document was last modified. Documents may potentially be modified many times during their lifetime.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="statusKind" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#BaseWork.statusKind">
        <xs:annotation>
          <xs:documentation>Kind of work status. This value is mapped against the OM_RECORD_STATUS table.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WorkStatusNum" type="xs:integer" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#BaseWork.statusKind">
      <xs:annotation>
        <xs:documentation>Task Status</xs:documentation>
      </xs:annotation>
    </xs:element>
      <xs:element name="Names" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.Names">
        <xs:annotation>
          <xs:documentation>All names of this identified object.</xs:documentation>
        </xs:annotation>
        <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name">
          <xs:sequence>
            <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name.name">
              <xs:annotation>
                <xs:documentation>Any free text that name the object.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WorkOrderNo" type="xs:string"  minOccurs="0">
        <xs:annotation>
          <xs:documentation>AO number from IFS.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IFS_RECORD_NUM" type="xs:string"  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Identification number from IFS system.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IFSStatus" type="xs:string"  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Flagging for status of storing IFS WorkOrderNo internally in OM database.</xs:documentation>
        </xs:annotation>
      </xs:element>  
      <xs:element name="priority" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#BaseWork.priority">
        <xs:annotation>
          <xs:documentation>Priority of work.</xs:documentation>
        </xs:annotation>
        <xs:complexType sawsdl:modelReference="http://www.w3.org/2002/07/owl#Thing">
          <xs:sequence>
            <xs:element name="rank" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Priority.rank">
              <xs:annotation>
                <xs:documentation>Priority level; usually, lower number means high priority, but the details are provided in 'type'.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="subject" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Document.subject">
        <xs:annotation>
          <xs:documentation>Description of the work. - Scope: SP7.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TriggerEquipment" type="m:Equipment" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2014/CIM-schema-cim17-dcim12#Equipment">
        <xs:annotation>
          <xs:documentation>Equipment which triggered the outage/work, i.e. switch, meter. - Scope: SP7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimeSchedules" type="m:WorkTimeSchedule" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#BaseWork.TimeSchedules">
        <xs:annotation>
          <xs:documentation>All time schedules for this work or work task.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EST_TS" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="ACT_TS" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="EST_TC" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="ACT_TC" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="OPERATOR_EST_TS" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="OPERATOR_BEGIN_EST" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="OPERATOR_END_EST" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="OPERATOR_EST_TC" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="END_ACT_DELAY_CAUSE" type="xs:string" minOccurs="0"/>
      <xs:element name="CAUSE_OR_REASON_NUM" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Mapped against OM_CAUSE_OR_REASON_NUM.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FAULT_CATEGORY_NUM" type="xs:integer" minOccurs="0"/>
      <xs:element name="FAULT_EQUIPMENT_NUM" type="xs:integer" minOccurs="0"/>
      <xs:element name="DeviceLocation" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Location of device.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EMERGENCY_HAZARD_INDICATOR" type="xs:integer" minOccurs="0"/>
      <xs:element name="POLE_NUMBER" type="xs:string" minOccurs="0"/>
      <xs:element name="SUBSTATION" type="xs:string" minOccurs="0"/>
      <xs:element name="STORM_OID" type="xs:integer" minOccurs="0"/>
      <xs:element name="CREATION_USER_NAME" type="xs:string" minOccurs="0"/>
      <xs:element name="CREATION_TIMESTAMP" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="POWER_IS_CUT" type="xs:string" minOccurs="0"/>
      <xs:element name="WorkLocation" type="m:WorkLocation" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#BaseWork.WorkLocation">
        <xs:annotation>
          <xs:documentation>Location for this work/task.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="userName" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>User that made the last change.</xs:documentation>
      </xs:annotation>
    </xs:element>
      <xs:element name="WorkTasks" type="m:WorkTask" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Work.WorkTasks">
        <xs:annotation>
          <xs:documentation>All tasks in this work.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WorkAsset" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkAsset">
    <xs:annotation>
      <xs:documentation>Asset used to perform work.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="m:Asset">
        <xs:sequence>
          <xs:element name="usageKind" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Vehicle.usageKind">
            <xs:annotation>
              <xs:documentation>Kind of usage of the vehicle.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WorkLocation" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkLocation">
    <xs:annotation>
      <xs:documentation>Information about a particular location for various forms of work.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
          <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CoordinateSystem" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Location.CoordinateSystem">
        <xs:annotation>
          <xs:documentation>Coordinate system used to describe position points of this location.</xs:documentation>
        </xs:annotation>
        <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#CoordinateSystem">
          <xs:sequence>
            <xs:element name="crsUrn" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#CoordinateSystem.crsUrn">
              <xs:annotation>
                <xs:documentation>A Uniform Resource Name (URN) for the coordinate reference system (crs) used to define 'Location.PositionPoints'.</xs:documentation>
                <xs:documentation>An example would be the European Petroleum Survey Group (EPSG) code for a coordinate reference system, defined in URN under the Open Geospatial Consortium (OGC) namespace as: urn:ogc:def:uom:EPSG::XXXX, where XXXX is an EPSG code (a full list of codes can be found at the EPSG Registry web site http://www.epsg-registry.org/). To define the coordinate system as being WGS84 (latitude, longitude) using an EPSG OGC, this attribute would be urn:ogc:def:uom:EPSG::4236.</xs:documentation>
                <xs:documentation>A profile should limit this code to a set of allowed URNs agreed to by all sending and receiving parties.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PositionPoints" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Location.PositionPoints">
        <xs:annotation>
          <xs:documentation>Sequence of position points describing this location, expressed in coordinate system 'Location.CoordinateSystem'.</xs:documentation>
        </xs:annotation>
        <xs:complexType sawsdl:modelReference="http://www.w3.org/2002/07/owl#Thing">
          <xs:sequence>
            <xs:element name="sequenceNumber" type="xs:integer" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#PositionPoint.sequenceNumber">
              <xs:annotation>
                <xs:documentation>Zero-relative sequence number of this point within a series of points.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="xPosition" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#PositionPoint.xPosition">
              <xs:annotation>
                <xs:documentation>X axis position.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="yPosition" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#PositionPoint.yPosition">
              <xs:annotation>
                <xs:documentation>Y axis position.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="zPosition" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#PositionPoint.zPosition">
              <xs:annotation>
                <xs:documentation>(if applicable) Z axis position.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WorkTask" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTask">
    <xs:sequence>
      <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
          <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastModifiedDateTime" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Document.lastModifiedDateTime">
        <xs:annotation>
          <xs:documentation>Date and time this task was last modified. - Scope: SP7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="creationDateTime" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Document.creationDateTime">
        <xs:annotation>
          <xs:documentation>Date and time this task was created. - Scope: SP7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="crewETA" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTask.crewETA">
        <xs:annotation>
          <xs:documentation>Estimated time of arrival, so that customer or police/fire department can be informed when the crew will arrive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="crewATA" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTask.crewATA">
        <xs:annotation>
          <xs:documentation>Actual time of arrival, so that customer or police/fire department can be informed when the crew has arrived.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="crewETC" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTask.crewETC">
        <xs:annotation>
          <xs:documentation>Estimated time of completion.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="crewATC" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTask.crewATC">
        <xs:annotation>
          <xs:documentation>Actual time of completion.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="instruction" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTask.instruction">
        <xs:annotation>
          <xs:documentation>Instructions for performing this task.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subject" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Document.subject">
        <xs:annotation>
          <xs:documentation>Document subject.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="repairSequence" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Document.repairSequence">
        <xs:annotation>
          <xs:documentation>Document repair sequence.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="editable" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Document.editable">
        <xs:annotation>
          <xs:documentation>Document editable. - Scope: SP7</xs:documentation>
        </xs:annotation>
      </xs:element>
       <xs:element name="crewType" type="m:CrewType" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTask.crewType">
        <xs:annotation>
          <xs:documentation>Kind of crew type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="deviceType" type="m:DeviceType" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTask.deviceType">
        <xs:annotation>
          <xs:documentation>Kind of device type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="statusKind" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#BaseWork.statusKind">
        <xs:annotation>
          <xs:documentation>Kind of work status.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sequenceNumber" type="xs:integer" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTask.sequenceNumber">
        <xs:annotation>
          <xs:documentation>Zero-relative sequence number of this work task within a series of work tasks.</xs:documentation>
          </xs:annotation>
      </xs:element>
      <xs:element name="taskKind" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTask.taskKind">
        <xs:annotation>
          <xs:documentation>Kind of work.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Crews" type="m:Crew" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTask.Crews">
        <xs:annotation>
          <xs:documentation>All crews participating in this work task.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Names" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.Names">
        <xs:annotation>
          <xs:documentation>All names of this identified object.</xs:documentation>
        </xs:annotation>
        <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name">
          <xs:sequence>
            <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name.name">
              <xs:annotation>
                <xs:documentation>Any free text that name the object.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TaskIFSID" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Worktask ID from IFS.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IFSStatus" type="xs:string"  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Flagging for status of storing IFS WorkOrderNo internally in OM database.</xs:documentation>
        </xs:annotation>
      </xs:element>  
      <xs:element name="TimeSchedules" type="m:WorkTimeSchedule" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#BaseWork.TimeSchedules">
        <xs:annotation>
          <xs:documentation>All time schedules for this work or work task. - Scope:  SP7, added unbounded.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Assets" type="m:Asset" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTask.Assets">
        <xs:annotation>
          <xs:documentation>All assets on which this non-replacement work task is performed.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DeviceType" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#DeviceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Work task deals with device types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="isolator">
        <xs:annotation>
          <xs:documentation>Work task deals with device types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="loadBreaker">
        <xs:annotation>
          <xs:documentation>Work task deals with device types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="circuitBreaker">
        <xs:annotation>
          <xs:documentation>Work task deals with device types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fuse">
        <xs:annotation>
          <xs:documentation>Work task deals with device types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="busbar">
        <xs:annotation>
          <xs:documentation>Work task deals with device types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="generator">
        <xs:annotation>
          <xs:documentation>Work task deals with device types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="load">
        <xs:annotation>
          <xs:documentation>Work task deals with device types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="compensator">
        <xs:annotation>
          <xs:documentation>Work task deals with device types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="line">
        <xs:annotation>
          <xs:documentation>Work task deals with device types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="transformer">
        <xs:annotation>
          <xs:documentation>Work task deals with device types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="servicePoint">
        <xs:annotation>
          <xs:documentation>Work task deals with device types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="battery">
        <xs:annotation>
          <xs:documentation>Work task deals with device types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CrewType" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#CrewType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Work task deals with crew types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="assessor">
        <xs:annotation>
          <xs:documentation>Work task deals with crew types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="troubleman">
        <xs:annotation>
          <xs:documentation>Work task deals with crew types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="treeCrew">
        <xs:annotation>
          <xs:documentation>Work task deals with crew types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="WorkTimeSchedule" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTimeSchedule">
    <xs:annotation>
      <xs:documentation>Time schedule specific to work.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="kind" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTimeSchedule.kind">
        <xs:annotation>
          <xs:documentation>Kind of this work schedule.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scheduleInterval" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#TimeSchedule.scheduleInterval">
        <xs:annotation>
          <xs:documentation>Schedule date and time interval.</xs:documentation>
        </xs:annotation>
        <xs:complexType sawsdl:modelReference="http://www.w3.org/2002/07/owl#Thing">
          <xs:sequence>
            <xs:element name="end" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#DateTimeInterval.end">
              <xs:annotation>
                <xs:documentation>End date and time of this interval.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="start" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#DateTimeInterval.start">
              <xs:annotation>
                <xs:documentation>Start date and time of this interval.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Length" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Length">
    <xs:annotation>
      <xs:documentation>Unit of length. Never negative.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:float"/>
  </xs:simpleType>
</xs:schema>
