src/Services/WSDL/MaintenanceOrders/MaintenanceOrdersRemoteService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MaintenanceOrdersRemoteService" targetNamespace="http://iec.ch/TC57/2014/MaintenanceOrders" 
      xmlns:tns="http://iec.ch/TC57/2014/MaintenanceOrders"
	  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	  xmlns:xs="http://www.w3.org/2001/XMLSchema"
	  xmlns:infoMessage="http://iec.ch/TC57/2014/MaintenanceOrdersMessage"
      xmlns:so="http://www.siemens.com/energy/schemas/StandardOutput/v1#"
      xmlns:sf="http://www.siemens.com/energy/schemas/StandardFault/v1#"
>
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://iec.ch/TC57/2014/MaintenanceOrdersMessage" 
                              schemaLocation="xsd/MaintenanceOrdersMessage.xsd"/>
		</xs:schema>
		<xs:schema>
			<xs:import namespace="http://www.siemens.com/energy/schemas/StandardOutput/v1#" 
                              schemaLocation="../../../common/messages/xsd/StandardOutput.xsd"/>
		</xs:schema>
		<xs:schema>
			<xs:import namespace="http://www.siemens.com/energy/schemas/StandardFault/v1#" 
                              schemaLocation="../../../common/messages/xsd/StandardFault.xsd"/>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="ChangedMaintenanceOrdersEventMessage">
		<wsdl:part name="ChangedMaintenanceOrdersEventMessage" element="infoMessage:ChangedMaintenanceOrders"/>
	</wsdl:message>
	<wsdl:message name="IFSMaintenanceOrdersResponseMessage">
			<wsdl:part name="IFSMaintenanceOrdersResponseMessage" element="infoMessage:IFSMaintenanceOrdersResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateMaintenanceOrdersResponseMessage">
		<wsdl:part name="CreateMaintenanceOrdersResponseMessage" element="infoMessage:CreateMaintenanceOrdersResponse"/>
</wsdl:message>
	<wsdl:message name="StandardMessage">
		<wsdl:part name="StandardOutput" element="so:StandardOutput"/>
	</wsdl:message>
	<wsdl:message name="FaultMessage">
		<wsdl:part name="StandardFault" element="sf:StandardFault"/>
	</wsdl:message>

	<wsdl:portType name="MaintenanceOrders_Port">
		<wsdl:operation name="ChangedMaintenanceOrders">
			<wsdl:input name="ChangedMaintenanceOrdersEvent" message="tns:ChangedMaintenanceOrdersEventMessage"/>
			<wsdl:output name="ChangedMaintenanceOrdersResponse" message="tns:StandardMessage"/>
			<wsdl:fault name="ChangedMaintenanceOrdersFault" message="tns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="IFSMaintenanceOrdersResponse">
			<wsdl:input name="IFSMaintenanceOrdersResponseInput" message="tns:IFSMaintenanceOrdersResponseMessage"/>
			<wsdl:output name="IFSMaintenanceOrdersResponseOutput" message="tns:StandardMessage"/>
			<wsdl:fault name="IFSMaintenanceOrdersResponseFault" message="tns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="CreateMaintenanceOrdersResponse">
			<wsdl:input name="CreateMaintenanceOrdersResponseInput" message="tns:CreateMaintenanceOrdersResponseMessage"/>
			<wsdl:output name="CreateMaintenanceOrdersResponseOutput" message="tns:StandardMessage"/>
			<wsdl:fault name="CreateMaintenanceOrdersResponseFault" message="tns:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="MaintenanceOrders_Binding" type="tns:MaintenanceOrders_Port">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ChangedMaintenanceOrders">
			<soap:operation soapAction="http://iec.ch/TC57/2014/MaintenanceOrders/MOM/ChangedMaintenanceOrders" style="document"/>
			<wsdl:input name="ChangedMaintenanceOrdersEvent">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ChangedMaintenanceOrdersResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChangedMaintenanceOrdersFault">
				<soap:fault name="ChangedMaintenanceOrdersFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="IFSMaintenanceOrdersResponse">
			<soap:operation soapAction="http://iec.ch/TC57/2014/MaintenanceOrders/MOM/IFSMaintenanceOrdersResponse" style="document"/>
			<wsdl:input name="IFSMaintenanceOrdersResponseInput">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="IFSMaintenanceOrdersResponseOutput">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="IFSMaintenanceOrdersResponseFault">
				<soap:fault name="IFSMaintenanceOrdersResponseFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CreateMaintenanceOrdersResponse">
			<soap:operation soapAction="http://iec.ch/TC57/2014/MaintenanceOrders/MOM/CreateMaintenanceOrdersResponse" style="document"/>
			<wsdl:input name="CreateMaintenanceOrdersResponseInput">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateMaintenanceOrdersResponseOutput">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CreateMaintenanceOrdersResponseFault">
				<soap:fault name="CreateMaintenanceOrdersResponseFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="MaintenanceOrdersRemoteService">
		<wsdl:port name="MaintenanceOrders_Port" binding="tns:MaintenanceOrders_Binding">
			<soap:address location="http://localhost:8088/mockMaintenanceOrdersRemoteService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
